.tiles {
    position: absolute;
    width: 30px;
    height: 30px;
    outline: 1px solid gray;
    outline-offset: -1px;
    background-color: white;
}

.edge {
    position: absolute;
    width: 30px;
    height: 30px;
    outline: 1px solid gray;
    outline-offset: -1px;
    background-color: black;
}

#board {
    position: relative;
    width: 750px;
    height: 750px;
    top: 15px;
    border: 5px solid black;
    background-color: white;
    margin: auto;
}

body {
    background-color: rgb(70, 138, 194);
}